* {
  font-family: helvetica;
}

h1, h2, h3, h4, h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

header {
  z-index: 1;
  position: fixed;
  height: 70px;
  display: flex;
  top: 0;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  background-color: #fffaf1;
  word-wrap: normal;
  font-weight: 500;
  counter-reset: codeSnippetCount;
  overflow-x: auto;
}

article {
  padding-top: 10px;
  padding-bottom: 10px;
}

section {
  padding-top: 5px;
  padding-bottom: 5px;
}

mark {
  background-color: #00C6BC;
}

#main-container.sidenav-closed {
  position: absolute;
  margin-top: 70px;
  margin-left: 70px;
  padding-left: 0px;
  padding-right: 30px;
  width: calc(100% - 100px);
}

#main-container.sidenav-opened {
  margin-left: 280px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 320px);
}

.sidenavigation.closed {
  background-color: inherit;
  width: 60px;
  overflow-y: hidden;
}

.sidenavigation.closed ul {
  visibility: hidden;
}

.sidenavigation ul {
  list-style-type: none;
}

.sidenavigation {
  z-index: 1;
  font-weight: bold;
  background-color: #534347;
  position: fixed;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s;
  transition-property: width;
}

.sidenavigation button {
  float: right;
  padding-right: 20px;
  padding-top: 10px;
}

.sidenavigation.closed button {
  float: none;
}

.sidenavigation ul {
  margin-top: 60px;
  margin-right: 0px;
  padding-left: 20px;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
}

.sidenavigation.closed button i {
  color: #534347;
}

.sidenavigation button i {
  padding-left: 10px;
  padding-top: 10px;
  color: #fffaf1;
  transition: 0.2s;
  transition-property: color;
}

.sidenavigation button i:hover {
  color: #70BCFF;
}

.sidenavigation ul li a {
  display: block;
  padding-top: 30px;
  padding-left: 25px;
  color: #fffaf1;
  text-decoration: none;
  position: relative;
  transition: 0.2s;
  transition-property: color;
}

.sidenavigation ul li a i {
  padding-left: 10px;
}

.sidenavigation ul li a:hover {
  color: #70BCFF;
}

#logo-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0 4px;
}

#logo-container figure {
  flex: 25%;
  max-width: 23%;
  padding: 0 4px;
}

#logo-container figure figcaption {
  padding-top: 10px;
}

#logo-container figure img {
  background-color: white;
  margin-top: 8px;
  width: 80%;
}

@media screen and (max-width: 1200px) {
  #logo-container figure {
    flex: 50%;
    max-width: 30%;
    max-height: 30%
  }
}

@media screen and (max-width: 850px) {
  #logo-container figure {
    flex: 100%;
    max-width: 60%;
    max-height: 60%;
  }
}

.installation.hidden {
  display: none;
}

.installation.active {
  display: block;
}

.installation button {
  font-weight: bold;
  outline: none;
  font-size: 20px;
  text-align: left;
  background-color: inherit;
  width: 33%;
  border: none;
  border-bottom: solid gray 6px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  display: inline-block;
}

.installation button:hover {
  border: none;
  border-bottom: solid gray 6px;
  background-color: #C8D9FE;
}

.installation button.active {
  border-bottom: solid #3B4D6C 6px;
}

@media screen and (max-width: 900px) {
  .installation button {
    width: 100%;
  }
}

figure.code, figure.samp {
  background-color: #3B4D6C;
  font-family: monospace;
  color: white;
}

figure.code code {
  display: block;
}

figure.code figcaption, figure.samp figcaption {
  background-color: #C8D9FE;
  font-size: 16px;
  color: black;
  counter-increment: codeSnippetCount;
  padding: 4px;
}

figure.code figcaption:before, figure.samp figcaption:before {
  content: 'Програмен фрагмент 'counter(codeSnippetCount) ': ';
}

code {
  background-color: #3B4D6C;
  color: white;
  font-family: monospace;
  display: inline-block;
  padding-top: 15px;
  padding: 10px;
  height: auto;
}

pre samp {
  padding: 10px;
  white-space: pre-wrap;
  word-break: normal;
  background-color: #3B4D6C;
  width: auto;
  color: white;
  font-family: monospace;
  display: inline-block;
}

pre code {
  display: inline-block;
  padding-top: 15px;
  padding: 10px;
  height: auto;
}

kbd {
  background-color: #3B4D6C;
  color: white;
  font-family: monospace;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.single.picture img {
  display: block;
  margin: auto;
  width: 70%
}

.single.picture figcaption {
  text-align: center;
  padding-top: 10px;
}

#resources pre {
  display: block;
  font-family: monospace;
  white-space: pre-line;
  text-align: left;
}

a.figure.name {
  color: black;
  text-decoration: none
}

.sub.sidenavigation.opened {
  position: relative;
  height: auto;
  width: 220px;
  padding: 0;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 30px;
}

.sub.sidenavigation.opened ul {
  margin: 0;
  padding: 0;
}

.sub.sidenavigation.opened ul li {
  margin:0;
  padding: 0;
  word-wrap: break-word;
}
.sub.sidenavigation.opened ul li a{
  margin:0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 0;
  padding-bottom: 0;
}
